<% if current_user && (friends = current_user.friends).any? %>
    <div class="h-100">
        <ul class="list-group" id="message_list">
            <% friends.each do |friend| %>
                <li class="list-group-item" id=<%="#{friend.user_id}-chat"%>>
                    <%# <%= link_to user_path(friend), class: "w-100" do %> 
                        <%= render partial: "users/user_banner", locals: { 
                            user: friend, 
                            secondary_text: "Click to start a chat...", 
                            right_partial: "messages/last_message_time",
                            right_partial_params: {last_message_time: "10:37"}
                        } %> 
                    <%# <% end %>
                </li>
            <% end %>
        </ul>
    </div>
<% else %>
    <div class="h-100 text-secondary d-flex justify-content-center align-items-center">
        Login to see your messages!
    </div>
<% end %>
