<div style="height: 90vh">
    <% if current_user && (friends = current_user.friends).any? %>
        <ul class="list-group">
            <% friends.each do |friend| %>
                <li class="list-group-item">
                    <%# <%= link_to user_path(friend), class: "w-100" do %> 
                        <%= render partial: "users/user_banner", locals: { 
                            user: friend, 
                            secondary_text: "Hey!", 
                            right_partial: "messages/last_message_time",
                            right_partial_params: {last_message_time: "10:37"}
                        } %> 
                    <%# <% end %>
                </li>
            <% end %>
        </ul>
    <% else %>
        <div class="h-100 text-secondary d-flex justify-content-center align-items-center">
            Login to see your messages!
        </div>
    <% end %>
</div>