<div class="card h-100">
    <div class="card-body">
            <%= form_with url: search_users_path, method: :get, local: false, data: { turbo_frame: "search-results" } do %>
                <div class="input-group">
                    <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search or add friends..." %>
                    <button class="btn btn-outline-primary" id="search-users-button" type="submit">
                        <i class="bi bi-send-fill"></i>
                    </button>
                </div>  
            <% end %>

        <%= render partial: "users/search_results", locals: { 
            other_users: @paginated_other_users || Kaminari.paginate_array(current_user&.other_users || User.all).page(1).per(5),
            friends: @paginated_friends || Kaminari.paginate_array(current_user&.friends || []).page(1).per(5),
            friend_requests: @paginated_friend_requests || Kaminari.paginate_array(current_user&.friend_requests_received || []).page(1).per(5),
            query: params[:query].to_s
        } %>
    </div>
</div>