<turbo-frame id="search-results">
    <% if friends.any? %>
        <ul class="list-group">
            <% friends.each do |friend| %>
                <li class="list-group-item">
                    <%= render partial: "users/user_banner", locals: { user: friend } %> 
                </li>
            <% end %>
        </ul>
    <% end %>
    <% if users.any? %>
        <div class="mt-2 mb-2">Other users:</div>
        <ul class="list-group">
            <% users.each do |user| %>
                <li class="list-group-item">
                    <%= render partial: "users/user_banner", locals: { user: user } %> 
                </li>
            <% end %>
        </ul>
    <% end %>
    <% if friend_requests.any? %>
        <div class="mt-2 mb-2">Friend requests:</div>
        <ul class="list-group">
            <% friend_requests.each do |user| %>
                <li class="list-group-item">
                    <%= render partial: "users/user_banner", locals: { user: user } %> 
                </li>
            <% end %>
        </ul>
    <% end %>
    <% if users.none? && friends.none? && friend_requests.none?%>
        <div class="h-100 text-secondary d-flex justify-content-center align-items-center">
            No users found.
        </div>
    <% end %>
</turbo-frame>