<div class="mt-5 container h">
  <div class="card p-4 shadow-lg rounded-3 h-100">
    <div class="profile-header">
        <!-- Background container -->
        <div class="cover-photo" style="background-image: url(<%= asset_path('default_bg.jpg') %>);">
        </div>
        
        <!-- Profile Photo Container -->
        <div class="profile-photo">
            <%= image_tag("default_pfp.jpg", class: "profile-img") %>
        </div>
    </div>
    
    <div class="mt-4">
      <h4><%= @user.display_name %></h4>
      <p><%= @user.description.presence || "This user has not added a bio yet." %></p>
    </div>
  </div>
</div>
