default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: postgres
  password: your_password
  host: localhost

sqlite: &sqlite
  adapter: sqlite3
  pool: 5
  timeout: 5000

development:
  primary:
    <<: *default
    database: <%= ENV['PG_DATABASE'] || "social_rails_development" %>
    username: <%= ENV['PG_USERNAME'] || "postgres" %>
    password: <%= ENV['PG_PASSWORD'] || "your_password" %>
    host: <%= ENV["PG_HOST"] || "localhost" %>
    port: <%= ENV["PG_PORT"] || 5432 %>
  cable:
    <<: *sqlite
    database: storage/social_rails_development_cable.sqlite3
    migrations_paths: db/cable_migrate

test:
  <<: *default
  database: social_rails_test

production:
  <<: *default
  url: <%= ENV['PG_URL'] %>
  # database: <%= ENV['PG_DATABASE'] || "social_rails_production" %>
  # username: <%= ENV['PG_USERNAME'] %>
  # password: <%= ENV['PG_PASSWORD'] %>
  # host: <%= ENV["PG_HOST"] %>
  # port: <%= ENV["PG_PORT"] %>
