<div class="show-post-container">
    <%= render "posts/post", post: @post %>
    <section>
        <h3>Comments</h3>
        <ul class="list-group mt-3">
        <li class="list-group-item">This is a great post!</li>
        <li class="list-group-item">Thanks for sharing.</li>
        </ul>
    </section>
</div>
